.LoginBtn {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Hereda el color del texto padre */
  transition: color 0.3s; /* Agrega una transición suave al color */
}

.LoginBtn:hover {
  color: white; /* Cambia el color a blanco en hover */
  text-decoration: none;
}
