body {
  background-color: #f0f8ff;
}

.DivSeccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.DivBotones {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-right: 100px;
  padding-left: 100px;
}

p {
  margin-left: 100px;
  margin-right: 100px;
}

h2 {
  border-top: 2px solid var(--color-border);
  padding-top: 5px;
  font-size: 50px;
}
h3 {
  border-top: 2px solid var(--color-border);
  padding-top: 20px;
  font-size: 30px;
}
